
.content{
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
}

.content > a:hover{
    color: blueviolet;
}

.footer{
    display: flex;
    background-color:grey;
    text-align: center;
    color: whitesmoke;
    height: 100px;
    margin-top: 5px;
}

.footer > footer{
    margin: auto;
}

form {
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.table {
    width: 50%;
}